.dialogs {
    color: #4e5959;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
}
.dialogsItems .active {
    color: red;
}
.dialog {
}

.messages {
}

.message {
}